{
  "name": "{{name}}",
  "build": {
    "dockerfile": "{{dockerfilePath}}",
    "args": {
      "USER": "{{user}}",
      "UID": "{{uid}}",
      "GID": "{{gid}}",
      "WORKDIR": "{{folder}}"
    }
  },
  "workspaceFolder": "{{folder}}",
  "workspaceMount": "source={{hostMount}},target={{containerMount}},type=bind",
  "runArgs": ["--name", "{{name}}-container"{{#rocm}}, {{rocmRunArgs}}{{/rocm}}],
  "mounts": [
    "source=${localEnv:HOME}/.ssh,target=/home/{{user}}/.ssh,type=bind,readonly",
    "source=${localEnv:HOME}/.gitconfig,target=/home/{{user}}/.gitconfig,type=bind",
    "source=${localEnv:HOME}/.config/git,target=/home/{{user}}/.config/git,type=bind",
  ]
}